################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Oluwatomisin8852068_VRMS/FileContentIndex
